.logo{background-color: white; 
    width: 215px; 
    height: 110px;
    margin-top: 4px;
    border-style: dotted;
    border-color: blue;
};
.mmenu-h{ list-style: none;
    padding: 0;}
.mmenu-h li[ display:inline;    ]